@font-face {
 font-family: "Righteous";
 src: url("Righteous-Regular.ttf") format("TrueType");
}

.BIGTEXT {
   font-family: "Righteous";
   font-size: 50px;
   color: pink;
   text-align: center;
   background-color: black;
   text-shadow: 3px 3px 2px blue;
}

.LEFT {
  font-family: "Righteous";
  font-size: 30px;
  text-align: left;
}

.RIGHT {
  font-family: "Righteous";
  font-size: 30px;
  text-align: right;
}
